body {
    height: 100vh;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

#game {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.board {
    min-width: 64px;
    min-height: 64px;
    background: hsla(12, 89%, 89%, 1);

background: linear-gradient(360deg, hsla(12, 89%, 89%, 1) 0%, hsla(329, 82%, 76%, 1) 50%, hsla(342, 95%, 78%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FCD4CA", endColorstr="#F48EC3", GradientType=1 );
    border: 8px solid #505050;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.31);
    padding: 2px 3px;
    margin: 24px;
}

.row {
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 2px 0;
    /* background-color: rgba(255, 255, 255, 0.500); */
}

.cell {
    height: min(5vw, 5vh);
    width: min(5vw, 5vh);
    margin: 0 1px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.31);
}

.empty{
    background-color: unset;
    box-shadow: none;
}