body {
    height: 100vh;
    margin: 0;
    background-image: url("./assets/rpg-background.jpg");
    background-size: cover;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

#game {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.board {
    position: relative;
    min-width: 64px;
    min-height: 64px;
    background: rgb(42, 47, 70);
    border: 8px solid #505050;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.31);
    padding: 2px 3px;
    margin: 24px;
    margin-top: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 2px 0;
}

.cell {
    height: 64px;
    width: 64px;
    margin: 0 1px;
    background-image: url("./assets/floor.jpg");
    background-size: cover;
    border-radius: 2px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.31);
}

.empty{
    background-color: unset;
    box-shadow: none;
    background-image: unset;
}

.player {
    position: absolute;
    width: 50px;
    height: 64px;
    margin-left: 7px;
    box-sizing: border-box;
    background-image: url("./assets/file.png");
    background-size: cover;
    transition:
    left 150ms ease-in-out 50ms,
    top 150ms ease-in-out 50ms;
}

.box {
    position: absolute;
    width: 64px;
    height: 64px;
    box-sizing: border-box;
    background-image: url("./assets/chest.png");
    transition:
    left 150ms ease-in-out 50ms,
    top 150ms ease-in-out 50ms;
}

.goal { background-image: url("./assets/goal.jpg");}
.wall { background-image: url("./assets/wall.png"); background-size:auto;}

.counters {
    font-family: 'VT323', monospace;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}